.stations {
  width: 64rem;
  margin: 0 auto;
  font-size: 4.4rem;
  border-radius: 3rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .headerContainer {
    background-color: #ecaa5b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    .title {
      color: #fff;
      font-size: 4.4rem;
      text-transform: uppercase;
    }

    .backBtn,
    .powerBtn {
      cursor: pointer;
    }
  }

  .stationsContainer {
    background-color: #2b2b36;
    border-bottom: 1px solid #42424c;
    padding: 4rem;
    max-height: 68.8rem;
    overflow-y: auto;

    // hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none;
    scrollbar-width: none;

    // hide scrollbar for chrome, safari and opera
    &::-webkit-scrollbar {
      display: none;
    }

    .stationWrapper {
      &:not(:last-child) {
        border-bottom: 1px solid #42424c;
      }
    }
  }

  .footerContainer {
    background-color: #222222;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    padding: 4rem;
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      font-size: 2.2rem;
      text-transform: uppercase;
      color: #edae61;
    }
  }
}
